@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:500&display=swap');

@media (prefers-color-scheme: light) {
  p {
    color:black;
  }
  body {
    background: #f5f2d0;
  } 
  a {
    color:white;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1C1C1E ;
    color: #C2C2C2; 
  }
  p { 
    color: #C2C2C2;
    text-decoration-color:#C2C2C2; 
  }
  a {
    color:white;
  }
}

article{
    border-bottom: 2px dotted grey;
    margin: 2%;
}

li, a{
  text-decoration: none;
  color: darkslategrey;
  display: inline-block;
}

header{
  font-family: nunito;
  display: flex;
  border-bottom: 2px solid darkgrey;
  justify-content: space-between;
  flex-direction: unset;
  grid-area: header;
  align-content: baseline;
}

.logo{
  cursor: pointer;
  width: 5vh;
}

.newsletter{
  border: 3px solid lightblue;
  color: black;
  padding: 0.5%;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: aliceblue
}

.grid {
    grid-gap: 0.5em;
    display: grid;
    grid-template-areas: 
        'header' 
        'main' 
        'main'
        'footer'; 
}

nav {
    font-family: 'Nunito', sans-serif;
    color: white;
    width: -webkit-fill-available;
  align-content: stretch;
}

main {
    width: auto;
    text-align: center;
    grid-area: main;
    
}

ul{
    display: flex;
    justify-content: space-evenly;
}

footer {
    border-top: 1px double black; 
    text-align: center;
    position: static;
    grid-area: footer
}

body {
   display:grid;
}

p {
    font-size: 15px;
    line-height: 1.7;
    font-weight: 500;
    letter-spacing: -0.6px;
    font-family: 'Raleway', sans-serif;
    word-spacing: -0.05px;
}

.red-button{
    background-color: #f34f4f;
    border: double;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
