@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:500&display=swap');

article{
    background: #bcbaff;
    border-radius: 2em;
    padding-bottom: 0.1%;
}

li, a, button{
  text-decoration: none;
  color: ;
  display: inline-block;
}

header{
  font-family: nunito;
  display: flex;
  border-bottom: 4px solid darkgrey;
  justify-content: space-between;
  flex-direction: row-reverse;
  grid-area: header;
  background: tomato;
}

.logo{
  cursor: pointer;
  width: 3%;
}

.newsletter{
  border: 3px solid lightblue;
  color: black;
  padding: 0.5%;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  background: aliceblue
}

.grid {
    grid-gap: 0.5em;
    display: grid;
    grid-template-areas: 
        'header header' 
        'main ads' 
        'main ads'
        'footer footer'; 
}

nav {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
}

main {
    width: auto;
    text-align: center;
    grid-area: main;
    
}

.ads {
    border: dashed;
    text-align: center;
    grid-area: ads;
}

footer {
    border-top: 1px double black; 
    text-align: center;
    position: static;
}

body {
   display:grid;
}

p {
    font-size: 15px;
    line-height: 1.7;
    font-weight: 500;
    letter-spacing: -0.6px;
    font-family: 'Raleway', sans-serif;
    word-spacing: -0.05px;
    color: black;
}

.red-button{
    background-color: #f34f4f;
    border: double;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
